<div class="floating-chat" data-info="<%= @chatroom.name %>">
    <i class="fa fa-comments" aria-hidden="true"></i>
    <div class="chat">
        <div class="header">
          <span class="title">
              Chat with support
          </span>
          <button class='close'>
              <i class="fa fa-times" aria-hidden="true"></i>
          </button>
        </div>
        <ul class="messages">
        </ul>
        <div class="footer">
            <textarea class="text-box" data-behavior="user-help" id="message" style="resize: none;border: 0;box-shadow: none;" rows="2" ></textarea>
            <button id="sendMessage">send</button>
        </div>
    </div>
</div>