<div class="chat-layout" id="db-wrapper">
  <main id="page-content" style="margin: 0;">
    <section class="container-fluid px-0">
      <div class="row g-0">
        <div class="col-xl-3 col-lg-12 col-md-12 col-12">
          <div class="bg-white border-end border-top vh-100">
            <div class=" chat-window">
              <div class="chat-sticky-header sticky-top bg-white">
                <ul class="nav nav-line-bottom" id="tab" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active py-2" id="recent-tab" data-bs-toggle="pill" href="#recent" role="tab" aria-controls="recent" aria-selected="true">Login user</a>
                  </li>
                </ul>
              </div>
              <div data-bar="" style="height: 100vh; overflow: auto;">
                <div class="tab-content" id="tabContent">
                  <div class="tab-pane fade show active" id="recent" role="tabpanel" aria-labelledby="recent-tab">
                    <ul class="list-unstyled contacts-list">
                      <%= render partial: 'user', collection: @chatrooms %>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>
