$('#chats-info').html("<%= escape_javascript(render partial: "/shared/chat", collection: @chats ) %>");
var instanceVariableValue;
instanceVariableValue = <%= @chatroom.name %>
App.room = App.cable.subscriptions.create({
    channel: "ChatsChannel",
    room: instanceVariableValue
}, {
    connected: function() {},
    disconnected: function() {},
    received: function(data) {
        if (data.by) {
            $('#chats-info').append(`<div class="d-flex justify-content-end mb-4"> <div class="me-3 text-end"> <small> 09:35</small> <div class="d-flex"> <div class="card mt-2 rounded-top-md-end-0 bg-primary text-white"> <div class="card-body p-3 text-start"> <p class="mb-0 "> ${data.message} </p> </div> </div> </div> </div> </div>`)
        } else {
            $('#chats-info').append(`<div class="d-flex w-lg-40 mb-4"> <div class="ms-3"> <small> 09:35</small> <div class="d-flex"> <div class="card mt-2 rounded-top-md-left-0"> <div class="card-body p-3 "> <p class="mb-0 text-dark"> ${data.message} </p> </div> </div> </div> </div> </div>`)
        }
        $('.simplebar-content-wrapper').scrollTop($('.simplebar-content-wrapper').height()*10000000000000)
    },
    speak: function(message) {
    return this.perform('speak', {
        message: message
    });
    }
});
function sendMessage(){
    var input = $('[data-behavior~=user-help]')
    App.room.speak(input.val());
    input.val('')
}

$(document).on('click', '[data-send="send"]', sendMessage)
$(document).on('keypress', '[data-behavior~=user-help]', function(event) {
    if (event.keyCode === 13) {
        sendMessage()
        event.preventDefault();
    }
});