$(document).on 'turbolinks:load', ->
  instanceVariableValue = $('.floating-chat').data('info')
  current_user = $('#db-wrapper').data('current_user')
  input = $('[data-behavior="user-help"]')
  if !current_user
    App.room = App.cable.subscriptions.create { channel: "ChatsChannel", room: instanceVariableValue },
      connected: ->
      disconnected: ->
      received: (data) ->
        if data.by
          $('.messages').append """
            <li class="self">#{data.message}</li>
          """
        else
          $('.messages').append """
            <li class="other">#{data.message}</li>
          """
      speak: ->
        if input.val().length
          @perform 'speak', message: input.val()
          input.val('')
    $(document).on 'keypress', 'textarea[data-behavior="user-help"]', (event) ->
      console.log('ssssssssssssssssssssssssssssssssssssssss')
      if event.keyCode is 13 # return = send
        App.room.speak()
    $(document).on 'click', '#sendMessage', (event) ->
      App.room.speak()
